Flask
Flask-CORS
google-generativeai
mysql-connector-python
PyJWT
PyMuPDF
python-docx
python-dotenv
spacy

# spaCy language model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz